
.applications-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 15px;

  width: 100%;
  padding: 30px 30px;
  border-bottom: 1px solid gray;


  grid-template-areas:
    "a b"
    "c d"
    "e f"
    "g g"
    "h h";
}

.job-box {
  grid-area: a;
}

.status-box {
  grid-area: b;
}

.applied-date-box {
  grid-area: c;
}

.response-date-box {
  grid-area: d;
}

.resume-box {
  grid-area: e;
}

.cover-letter-box {
  grid-area: f;
}

.interview-date-box {
  grid-area: g;
}

.notes-box {
  grid-area: h;
}

.job-box, .status-box, .applied-date-box, .response-date-box, .resume-box, .cover-letter-box, .interview-date-box, .notes-box  {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cover-letter-box {
  gap: 10px;
}
.cover-letter-box .checkbox {
  display: flex;
  gap: 10px;
}

