<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="../styles/general.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/subheader.css">
  <link rel="stylesheet" href="../styles/table.css">
</head>

<body>
  <header class="js-header-nav"></header>
  <section class="subheader js-subheader"></section>

  <main class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Applied</th>
          <th>Status</th>
          <th>Resume</th>
          <th>Cover Letter</th>
          <th>Response</th>
          <th>Interview</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Senior Frontend Engineer<br>Stripe </td>
          <td>Nov 15, 2025</td>
          <td>Interview Scheduled</td>
          <td>v3.2</td>
          <td>Sent</td>
          <td>Nov 28, 2025</td>
          <td>Dec 10, 2025<br>10:00 AM</td>
          <td>Recruiter reached out first</td>
        </tr>
        <tr>
          <td>Product Designer<br>Figma</td>
          <td>Nov 22, 2025</td>
          <td>Applied</td>
          <td>v3.1</td>
          <td>Sent</td>
          <td>-</td>
          <td>-</td>
          <td>Recruiter reached out first</td>
        </tr>
        <tr>
          <td>Full Stack Engineer<br>Notion </td>
          <td>Nov 25, 2025</td>
          <td>Phone Screen</td>
          <td>v3.2</td>
          <td>-</td>
          <td>Dec 1, 2025</td>
          <td>Dec 8, 2025<br>2:00 PM</td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </main>
</body>
<script type="module" src="../js-scripts/header.js"></script>
<script type="module" src="../js-scripts/subheader.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>