<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="../styles/general.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/subheader.css">
  <link rel="stylesheet" href="../styles/jobs.css">
</head>

<body>
  <header>
    <div>
      <a href="dashboard.html">Dashboard</a>
      <a href="applications.html">Applications</a>
      <a href="companies.html">Companies</a>
      <a href="contacts.html">Contacts</a>
      <a href="jobs.html">Jobs</a>
      <a href="job_match.html">Job Match</a>
    </div>
  </header>


  <div class="subheader">
    <!-- <div class="title"><h1>Jobs</h1></div> -->
    <div class="options">
      <div class="button-group">
        <button>
          <ion-icon name="filter-outline"></ion-icon>
          Filter
        </button>
        <button>
          <ion-icon name="funnel-outline"></ion-icon>
          Sort: Name (A-Z)
        </button>
      </div>
      <div class="title"><h1>Applications</h1></div>
      <div class="add-delete-group">
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
          Add Job
        </div>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
          Delete Job
        </div>
      </div>
    </div>

  </div>

  <main>

  </main>
</body>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>