<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="../styles/general.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/subheader.css">
  <link rel="stylesheet" href="../styles/table.css">
  <link rel="stylesheet" href="../styles/page-view.css">
</head>

<body>
  <header class="js-header-nav"></header>
  <section class="subheader js-subheader"></section>

  <main class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Company</th>
          <th>Industry</th>
          <th>Website</th>
          <th>Location</th>
          <th>Jobs</th>
          <th>Contacts</th>
          <th>Notes</th>
          <th>Added</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="js-table-rows"></tbody>
    </table>
  </main>

  <section class="page-view js-page-view"></section>

</body>
<script type="module" src="../js-scripts/header.js"></script>
<script type="module" src="../js-scripts/subheader.js"></script>
<script type="module" src="../js-scripts/table.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>