<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Companies</title>
  <link rel="stylesheet" href="../styles/general.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/subheader.css">
  <link rel="stylesheet" href="../styles/table.css">
  <link rel="stylesheet" href="../styles/page-view.css">
  <link rel="stylesheet" href="../styles/modal.css">
  <link rel="stylesheet" href="../styles/add-modals/companies.css">
  <link rel="stylesheet" href="../styles/add-modals/shared-add-box.css">

  <script type="module" src="../js-scripts/header.js" defer></script>
  <script type="module" src="../js-scripts/subheader.js" defer></script>
  <script type="module" src="../js-scripts/table.js" defer></script>
  <script type="module" src="../js-scripts/modals/form-modal.js" defer></script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>
</head>

<body>
  <header class="js-header-nav"></header>
  <section class="subheader js-subheader"></section>

  <main class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Company</th>
          <th>Industry</th>
          <th>Website</th>
          <th>Location</th>
          <th>Jobs</th>
          <th>Contacts</th>
          <th>Notes</th>
          <th>Added</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="js-table-rows"></tbody>
    </table>
  </main>

  <section class="page-view js-page-view"></section>


  <dialog class="modal-overlay" id="modal-overlay">
    <div class="container">
      <div class="container-header">
        <h3>New Company</h3>
        <button class="close-btn" id="close-btn">x</button>
      </div>

      <form action="/url-route" method="POST">
        <div class="company-grid-container">
          
          <div class="company-box">
            <label>Company Name</label>
            <input>
          </div>

          <div class="industry-box">
            <label>Industry</label>
            <input>
          </div>

          <div class="city-box">
            <label>City</label>
            <input>
          </div>

          <div class="state-box">
            <label>State</label>
            <input>
          </div>

          <div class="website-box">
            <label>Website</label>
            <input>
          </div>

          <div class="notes-box">
            <label>Notes</label>
            <textarea></textarea>
          </div>
          
        </div>
      </form>



      <div class="options">
        <button id="cancel-btn" class="cancel-btn">Cancel</button>
        <button id="create-btn" class="create-btn">Create</button>
      </div>
    </div>
  </dialog>

</body>
</html>