<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../styles/general.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/subheader.css">
  <link rel="stylesheet" href="../styles/dashboard.css">
  <link rel="stylesheet" href="../styles/page-view.css">
</head>

<body>
  <header class="js-header-nav"></header>

  <section class="summary-cards js-summary-cards"></section>

  <section class="recent-upcoming">
    <div class="container">

      <div class="recent-activity-container">
        <p>Recent Activity</p>
        <div class="activity-layout">

          <div class="activity">
            <div>
              <div class="job-title">API Engineer</div>
              <div class="company-date">Vercel &bull; Dec 6, 2025</div>
            </div>
            <div class="status">Phone Screen</div>
          </div>

          <div class="activity">
            <div>
              <div class="job-title">API Engineer</div>
              <div class="company-date">Vercel &bull; Dec 6, 2025</div>
            </div>
            <div class="status">Applied</div>
          </div>
          
          <div class="activity">
            <div>
              <div class="job-title">API Engineer</div>
              <div class="company-date">Vercel &bull; Dec 6, 2025</div>
            </div>
            <div class="status">Offer</div>
          </div>

          <div class="activity">
            <div>
              <div class="job-title">API Engineer</div>
              <div class="company-date">Vercel &bull; Dec 6, 2025</div>
            </div>
            <div class="status">Rejected</div>
          </div>

        </div>
      </div>


      <div class="upcoming-container">
        <p>Upcoming Interviews</p>
        <div class="upcoming-layout">

          <div class="upcoming">
            <div>
              <div class="job-title">Full Stack Engineer</div>
              <div class="company">Notion</div>
            </div>
            <div class="date">
              <div>Dec 8, 2025</div>
              <div>2:00 PM</div>
            </div>
          </div>

          <div class="upcoming">
            <div>
              <div class="job-title">Full Stack Engineer</div>
              <div class="company">Notion</div>
            </div>
            <div class="date">
              <div>Dec 8, 2025</div>
              <div>2:00 PM</div>
            </div>
          </div>
          
          <div class="upcoming">
            <div>
              <div class="job-title">Full Stack Engineer</div>
              <div class="company">Notion</div>
            </div>
            <div class="date">
              <div>Dec 8, 2025</div>
              <div>2:00 PM</div>
            </div>
          </div>


          <div class="upcoming">
            <div>
              <div class="job-title">Full Stack Engineer</div>
              <div class="company">Notion</div>
            </div>
            <div class="date">
              <div>Dec 8, 2025</div>
              <div>2:00 PM</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  


</body>
<script type="module" src="../js-scripts/header.js"></script>
<script type="module" src="../js-scripts/dashboard.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>