<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="../styles/general.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/subheader.css">
  <link rel="stylesheet" href="../styles/jobs.css">
</head>

<body>
  <header class="js-header-nav"></header>


  <div class="subheader">
    <!-- <div class="title"><h1>Jobs</h1></div> -->
    <div class="options">
      <div class="button-group">
        <button>
          <ion-icon name="filter-outline"></ion-icon>
          Filter
        </button>
        <button>
          <ion-icon name="funnel-outline"></ion-icon>
          Sort: Name (A-Z)
        </button>
      </div>
      <div class="title"><h1>Job Match</h1></div>
      <div class="add-delete-group">
        <button>
          <ion-icon name="add-outline"></ion-icon>
          Add Job
        </button>
        <button>
          <ion-icon name="remove-outline"></ion-icon>
          Delete Job
        </button>
      </div>
    </div>

  </div>

  <main>

  </main>
</body>
<script type="module" src="../js-scripts/header.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>