<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
  <link rel="stylesheet" href="../styles/general.css">
  <link rel="stylesheet" href="../styles/header.css">
  <link rel="stylesheet" href="../styles/subheader.css">
  <link rel="stylesheet" href="../styles/jobs.css">
</head>

<body>
  <header class="js-header-nav"></header>


  <section class="subheader">
    <!-- <div class="title"><h1>Jobs</h1></div> -->
    <div class="subheader-div">
      <div class="title-group">
          <h1>Jobs</h1>
          Open positions you're tracking: 8
      </div>
      
      <div class="add-delete-group">
        <button>
          <ion-icon name="add-outline"></ion-icon>
          Add Job
        </button>
      </div>
    </div>
  </section>

  <main>

  </main>
</body>
<script type="module" src="../js-scripts/header.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</html>