
.add-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 15px;
  background-color: rgb(48, 48, 48);
  box-shadow: 0 4px 16px rgba(43, 43, 43, 0.4);


  width: 100%;
  max-width: 560px;

}

.add-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 30px;
  border-bottom: 1px solid gray;
  
}

.add-container button {
  background-color: rgb(65, 65, 65);
  border: none;
  padding: 5px 7px;
  border-radius: 5px;
  cursor: pointer;
}

input, textarea, select {
  color: white;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 15px;
  background-color: rgb(48, 48, 48);
  border: 1px solid gray;
}

textarea {
  resize: vertical;
  padding: 5px 5px;
}

input[type="date"], input[type="datetime-local"] {
  color-scheme: dark;
}

input[type="date"]::-webkit-calendar-picker-indicator, input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}


.options {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 30px 30px;
}

.options .create-btn {
  background-color: rgb(68, 68, 228);
  padding: 12px 20px;

}

.options .cancel-btn {
  color: rgb(63, 63, 63);
  background-color: white;
  padding: 12px 20px;
}

