{% extends "base.html" %}

{% block title %}Applications{% endblock %}

{% block links %}
    <link rel="stylesheet" href="../static/styles/subheader.css" />
    <link rel="stylesheet" href="../static/styles/table.css" />
    <link rel="stylesheet" href="../static/styles/page-view.css" />
    <link rel="stylesheet" href="../static/styles/modal.css" />
    <link rel="stylesheet" href="../static/styles/post-forms/shared-post-form.css" />
    <link rel="stylesheet" href="../static/styles/post-forms/applications.css" />
    <link rel="stylesheet" href="../static/styles/detail-modal.css" />
{% endblock %}

{% block scripts %}
  <script type="module" src="../static/js/subheader.js" defrer></script>
  <script type="module" src="../static/js/table.js" defer></script>
  <script type="module" src="../static/js/modals/render-modals/application.js" defer></script>
  <script type="module" src="../static/js/modals/form-modal.js" defer></script>
  <script type="module" src="../static/js/modals/detail-modals/application-detail-modal.js" defer></script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>
{% endblock %}

{% block content %}
  <section class="subheader js-subheader"></section>

  <main class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Position</th>
          <th>Applied</th>
          <th>Status</th>
          <th>Resume</th>
          <th>Cover Letter</th>
          <th>Response</th>
          <th>Interview</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody class="js-table-rows"></tbody>
    </table>
  </main>

  <section class="page-view js-page-view"></section>

  <div class="modal-overlay js-detail-modal-overlay" id="detail-modal-overlay"></div>

  <div class="modal-overlay js-modal-overlay" id="modal-overlay"></div>
{% endblock %}