{% extends "base.html" %}

{% block title %}Companies{% endblock %}

{% block links %}
  <link rel="stylesheet" href="../static/styles/subheader.css">
  <link rel="stylesheet" href="../static/styles/table.css">
  <link rel="stylesheet" href="../static/styles/page-view.css">
  <link rel="stylesheet" href="../static/styles/modal.css">
  <link rel="stylesheet" href="../static/styles/post-forms/companies.css">
  <link rel="stylesheet" href="../static/styles/post-forms/shared-post-form.css">
  <link rel="stylesheet" href="../static/styles/detail-modal.css">
{% endblock %}

{% block scripts %}
  <script type="module" src="../static/js/modals/render-modals/companies.js" defer></script>
  <script type="module" src="../static/js/modals/form-modals/company-form-modal.js" defer></script>
  <script type="module" src="../static/js/modals/detail-modals/company-detail-modal.js" defer></script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>
{% endblock %}


{% block content %}
  <section class="subheader js-subheader">
    <div class="subheader-flex">
      <div class="title-group">
          <h1>Companies</h1>
          <div class='subtitle'>
            <span>Organizations you're targeting:</span>
            <span id='subtitle-count'>{{ companies | length }}</span>
          </div>
      </div>
      <div class="add-div">
        <button id='add-btn'>
          <ion-icon name="add-outline"></ion-icon>
          Add Company
        </button>
      </div>
    </div>
  </section>

  <main class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Company</th>
          <th>Industry</th>
          <th>Website</th>
          <th>Location</th>
          <th>Jobs</th>
          <th>Contacts</th>
          <th>Notes</th>
          <th>Added</th>
        </tr>
      </thead>
      <tbody class="js-table-rows">
        {% for company in companies %}
          <tr data-index="{{ loop.index0 }}" data-company='{{ company | tojson }}' class="clickable-row">
            <td>{{ company['company_name'] }}</td>
            <td>{{ company['industry'] if company['industry'] is not none else '-'}}</td>
            <td>{{ company['website'] if company['website'] is not none else '-' }}</td>
            <td>
              {% if company['city'] is not none and company['state'] is not none %}
                {{ company['city'] ~ ", " ~ company['state'] }}
              {% elif company['city'] is not none %}
                {{ company['city'] }}
              {% elif company['state'] is not none %}
                {{ company['state'] }}
              {% else %}
                -
              {% endif %}
            </td>
            <td>{{ company['job_count'] }}</td>
            <td>{{ company['contact_count'] }}</td>
            <td>{{ company['notes'][:30] + '...' if company['notes'] is not none and company['notes']|length > 30 else (company['notes'] if company['notes'] is not none else '-') }}</td>
            <td>{{ company['created_at'][:10] if company['created_at'] is not none else '-' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>

  <section class="page-view js-page-view"></section>


  <div class="modal-overlay js-detail-modal-overlay" id="detail-modal-overlay"></div>


  
  <div class="modal-overlay js-modal-overlay" id="modal-overlay"></div>
{% endblock %}