{% extends "base.html" %}

{% block title %}Contacts{% endblock %}

{% block links %}
  <link rel="stylesheet" href="../static/styles/subheader.css" />
  <link rel="stylesheet" href="../static/styles/table.css" />
  <link rel="stylesheet" href="../static/styles/page-view.css" />
  <link rel="stylesheet" href="../static/styles/modal.css" />
  <link rel="stylesheet" href="../static/styles/post-forms/shared-post-form.css" />
  <link rel="stylesheet" href="../static/styles/post-forms/contacts.css" />
  <link rel="stylesheet" href="../static/styles/detail-modal.css" />
{% endblock %}

{% block scripts %}
  <script type="module" src="../static/js/modals/render-modals/contacts.js" defer></script>
  <script type="module" src="../static/js/modals/form-modals/contact-form-modal.js" defer></script>
  <script type="module" src="../static/js/modals/detail-modals/contact-detail-modal.js" defer></script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>
{% endblock %}

{% block content %}
  <section class="subheader js-subheader">
    <div class="subheader-flex">
      <div class="title-group">
          <h1>Contacts</h1>
          <div class='subtitle'>
            <span>People in your professional network:</span>
            <span id='subtitle-count'>{{ contacts | length }}</span>
          </div>
      </div>
      <div class="add-div">
        <button id='add-btn'>
          <ion-icon name="add-outline"></ion-icon>
          Add Contact
        </button>
      </div>
    </div>
  </section>

  <main class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Company</th>
          <th>Title</th>
          <th>Email</th>
          <th>Phone</th>
          <th>LinkedIn</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody class="js-table-rows">
        {% for contact in contacts %}
          <tr data-index="{{ loop.index0 }}" data-contact='{{ contact | tojson }}' class="clickable-row">
            <td>{{ contact['first_name'] ~ " " ~ contact['last_name'] }}</td>
            <td>{{ contact['company_name'] if contact['company_name'] is not none else '-'}}</td>
            <td>{{ contact['job_title'] if contact['job_title'] is not none else '-' }}</td>
            <td>{{ contact['email'] if contact['email'] is not none else '-' }}</td>
            <td>{{ contact['phone'] if contact['phone'] is not none else '-' }}</td>
            <td>{{ contact['linkedin_url'] if contact['linkedin_url'] is not none else '-' }}</td>
            <td>{{ contact['notes'] if contact['notes'] is not none else '-' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>

  <section class="page-view js-page-view"></section>

  <div class="modal-overlay js-detail-modal-overlay" id="detail-modal-overlay"></div>

  <div class="modal-overlay js-modal-overlay" id="modal-overlay"></div>
{% endblock %}