{% extends "base.html" %}

{% block title %}Jobs{% endblock %}

{% block links %}
  <link rel="stylesheet" href="../static/styles/subheader.css" />
  <link rel="stylesheet" href="../static/styles/table.css" />
  <link rel="stylesheet" href="../static/styles/page-view.css" />
  <link rel="stylesheet" href="../static/styles/modal.css" />
  <link rel="stylesheet" href="../static/styles/post-forms/shared-post-form.css" />
  <link rel="stylesheet" href="../static/styles/post-forms/jobs.css" />
  <link rel="stylesheet" href="../static/styles/detail-modal.css" />
{% endblock %}

{% block scripts %}
  <script type="module" src="../static/js/modals/render-modals/jobs.js" defer></script>
  <script type="module" src="../static/js/modals/form-modals/job-form-modal.js" defer></script>
  <script type="module" src="../static/js/modals/detail-modals/job-detail-modal.js" defer></script>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>
{% endblock %}

{% block content %}
  <section class="subheader js-subheader">
    <div class="subheader-flex">
      <div class="title-group">
          <h1>Jobs</h1>
          <div class='subtitle'>
            <span>Open positions you're tracking:</span>
            <span id='subtitle-count'>{{ jobs | length }}</span>
          </div>
      </div>
      <div class="add-div">
        <button id='add-btn'>
          <ion-icon name="add-outline"></ion-icon>
          Add Job
        </button>
      </div>
    </div>
  </section>

  <main class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Job Title</th>
          <th>Company</th>
          <th>Salary Min</th>
          <th>Salary Max</th>
          <th>Type</th>
          <th>Posted</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody class="js-table-rows">
        {% for job in jobs %}
          <tr data-index="{{ loop.index0 }}" data-job='{{ job | tojson }}' class="clickable-row">
            <td>{{ job['job_title'] }}</td>
            <td>{{ job['company_name'] }}</td>
            <td>{{ '$' ~ job['salary_min'] if job['salary_min'] is not none else '-' }}</td>
            <td>{{ '$' ~ job['salary_max'] if job['salary_max'] is not none else '-' }}</td>
            <td>{{ job['job_type'] if job['job_type'] is not none else '-' }}</td>
            <td>{{ job['date_posted'] if job['date_posted'] is not none else '-' }}</td>
            <td>{{ 'Active' if job['is_active'] != 0 else 'Inactive' }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>

  <section class="page-view js-page-view"></section>

  <div class="modal-overlay js-detail-modal-overlay" id="detail-modal-overlay"></div>

  <div class="modal-overlay js-modal-overlay" id="modal-overlay"></div>
{% endblock %}